h1 {
  font-family: 'Merriweather', serif;
  font-size: 3rem;
  color: #D94F30;
  margin-bottom: 0.5rem;
}

.contenedor-productos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  padding: 40px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  justify-items: center;
  background-color: #f9f9fb; /* Fondo muy suave */
}

.producto {
  width: 300px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.producto:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
}

.producto h3 {
  margin: 15px 0 10px;
  font-size: 1.4em;
  color: #333333;
}

.producto p {
  margin: 0;
  color: #D94F30; /* Verde azulado, fresco */
  font-weight: 700;
  font-size: 1.2em;
}

.model-viewer {
  width: 100%;
  height: 300px;
  margin-bottom: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 12px #FAE4C2;
  background-color:  #FFF8ED; /* Fondo suave para destacar el modelo */
}

h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2.8em;
  color:#D94F30; /* Verde azulado, mismo tono que el precio */
  text-align: center;
  margin: 30px 0 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-shadow: 1px 1px 3px rgba(42, 157, 143, 0.3);
}
