.formulario-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* opcional: espacio desde arriba */
}

#formClienteTitle {
    text-align: center;    
    font-family: 'Arial', sans-serif; 
    font-size: 2rem;         
    color: black;;           
    margin-bottom: 20px;     
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2); /* Sombra sutil */
}
